storageClass:
  enabled: true
  name: gp3
  isDefault: true
  provisioner: ebs.csi.aws.com
  volumeBindingMode: WaitForFirstConsumer
  allowVolumeExpansion: true
  parameters:
    type: gp3

database:
  pvc:
    name: database-persistent-volume-claim
    storageClassName: gp3
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  secret:
    name: pgpassword
    password: postgres

openai:
  secret:
    name: openai-api
    apiKey: sk-proj-samplesecret

postgresInit:
  configMapName: postgres-init-sql
  createMoodsSql: |
    CREATE TABLE IF NOT EXISTS moods (
      id SERIAL PRIMARY KEY,
      mood TEXT NOT NULL,
      note TEXT,
      created_at TIMESTAMPTZ DEFAULT NOW()
    );

filesService:
  serviceAccount:
    create: true
    name: files-service-sa
    annotations: {}

components:
  apiGateway:
    deploymentName: api-gateway-deployment
    serviceName: api-gateway-cluster-ip-service
    appLabel: api-gateway
    replicas: 1
    image: prashantdey/merndemoapp:apigatewayv1.0
    containerPort: 5000
    servicePort: 5000
    env:
      ENTRIES_SERVICE_ADDR: entries-cluster-ip-service:50051
      OPENAI_MODEL: gpt-4o-mini

  client:
    deploymentName: client-deployment
    serviceName: client-cluster-ip-service
    appLabel: web
    replicas: 1
    image: prashantdey/merndemoapp:clientv1.6
    containerPort: 3000
    servicePort: 3000

  clientAlias:
    serviceName: client-service
    appLabel: web
    servicePort: 3000

  entries:
    deploymentName: entries-deployment
    serviceName: entries-cluster-ip-service
    appLabel: entries
    replicas: 2
    image: prashantdey/merndemoapp:entriesv1.0
    containerPort: 50051
    servicePort: 50051

  filesService:
    deploymentName: files-service-deployment
    serviceName: files-service-cluster-ip-service
    appLabel: files-service
    replicas: 1
    image: prashantdey/merndemoapp:fileservice1.0
    containerPort: 5004
    servicePort: 5004
    env:
      PORT: "5004"
      AWS_REGION: us-east-1
      S3_BUCKET: prashant-mckinsey-bucket
      S3_PREFIX: gratitude-uploads
      FILE_MAX_MB: "10"

  moodsApi:
    deploymentName: moods-api-deployment
    serviceName: moods-api-cluster-ip-service
    appLabel: moods-api
    replicas: 1
    image: prashantdey/merndemoapp:moodsapiv1.0
    containerPort: 5002
    servicePort: 5002
    env:
      MOODS_SERVICE_ADDR: moods-service-cluster-ip-service:50052

  moodsService:
    deploymentName: moods-service-deployment
    serviceName: moods-service-cluster-ip-service
    appLabel: moods-service
    replicas: 1
    image: prashantdey/merndemoapp:moodsservicev1.0
    containerPort: 50052
    servicePort: 50052

  postgres:
    deploymentName: postgres-deployment
    serviceName: postgres-cluster-ip-service
    appLabel: postgres
    replicas: 1
    image: postgres:18
    containerPort: 5432
    servicePort: 5432
    volumeMountPath: /var/lib/postgresql
    initMountPath: /docker-entrypoint-initdb.d

  server:
    deploymentName: server-deployment
    serviceName: server-cluster-ip-service
    appLabel: server
    replicas: 1
    image: prashantdey/merndemoapp:serverv1.0
    containerPort: 5001
    servicePort: 5001
    env:
      PORT: "5001"

  statsApi:
    deploymentName: stats-api-deployment
    serviceName: stats-api-cluster-ip-service
    appLabel: stats-api
    replicas: 1
    image: prashantdey/merndemoapp:statsapiv1.0
    containerPort: 5003
    servicePort: 5003
    env:
      STATS_SERVICE_ADDR: stats-service-cluster-ip-service:50053

  statsService:
    deploymentName: stats-service-deployment
    serviceName: stats-service-cluster-ip-service
    appLabel: stats-service
    replicas: 1
    image: prashantdey/merndemoapp:statsservicev1.0
    containerPort: 50053
    servicePort: 50053

ingress:
  enabled: true
  name: ingress-service
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
  paths:
    - path: /api/journal/?(.*)
      pathType: ImplementationSpecific
      serviceName: api-gateway-cluster-ip-service
      servicePort: 5000
    - path: /api/(ai/?.*)
      pathType: ImplementationSpecific
      serviceName: api-gateway-cluster-ip-service
      servicePort: 5000
    - path: /api/entries/?(.*)
      pathType: ImplementationSpecific
      serviceName: api-gateway-cluster-ip-service
      servicePort: 5000
    - path: /api/files/?(.*)
      pathType: ImplementationSpecific
      serviceName: files-service-cluster-ip-service
      servicePort: 5004
    - path: /api/server/?(.*)
      pathType: ImplementationSpecific
      serviceName: server-cluster-ip-service
      servicePort: 5001
    - path: /api/moods/?(.*)
      pathType: ImplementationSpecific
      serviceName: moods-api-cluster-ip-service
      servicePort: 5002
    - path: /api/stats/?(.*)
      pathType: ImplementationSpecific
      serviceName: stats-api-cluster-ip-service
      servicePort: 5003
    - path: /?(.*)
      pathType: ImplementationSpecific
      serviceName: client-cluster-ip-service
      servicePort: 3000
